*{
    background-color: rgb(245, 161, 105);
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


.item img{
    transition: .5s ease;
}

.item img:hover{
    box-shadow: 0 0 0 25px rgb(224, 90, 90);
    transition: .5s ease;
}
