body {  
    background:whitesmoke;
}

.wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    grid-auto-rows: 325px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.item img{
    transition: .5s ease;
}

.item img:hover{
    box-shadow: 0 0 0 10px #000000;
    transition: .5s ease;
}

